<h1>Test Inteligencia Emocional</h1>
<br>
<div class="flex flex-column flex-justify-center">
    <table>
        <tbody>
            <tr>
                <td align="left">1. Presto mucha atención a los sentimientos.</td>
                <td> <label> <input type="radio" id="switch" name="resultado[0]" value="1"> <span> 1 </span> </label>
                </td>
                <td><label> <input type="radio" id="switch" name="resultado[0]" value="2"> <span> 2 </span> </label>
                </td>
                <td><label> <input type="radio" id="switch" name="resultado[0]" value="3"> <span> 3 </span> </label>
                </td>
                <td><label> <input type="radio" id="switch" name="resultado[0]" value="4"> <span> 4 </span> </label>
                </td>
                <td><label> <input type="radio" id="switch" name="resultado[0]" value="5"> <span> 5 </span> </label>
                </td>
            </tr>
            <tr>
                <td align="left">2. Normalmente me preocupo por lo que siento.</td>
                <td> <label> <input type="radio" id="switch" name="resultado[1]" value="1"> <span> 1 </span> </label>
                </td>
                <td><label> <input type="radio" id="switch" name="resultado[1]" value="2"> <span> 2 </span> </label>
                </td>
                <td><label> <input type="radio" id="switch" name="resultado[1]" value="3"> <span> 3 </span> </label>
                </td>
                <td><label> <input type="radio" id="switch" name="resultado[1]" value="4"> <span> 4 </span> </label>
                </td>
                <td><label> <input type="radio" id="switch" name="resultado[1]" value="5"> <span> 5 </span> </label>
                </td>
            </tr>
            <tr>
                <td align="left">3. Normalmente dedico tiempo a pensar en mis emociones.</td>
                <td> <label> <input type="radio" id="switch" name="resultado[2]" value="1"> <span> 1 </span> </label>
                </td>
                <td><label> <input type="radio" id="switch" name="resultado[2]" value="2"> <span> 2 </span> </label>
                </td>
                <td><label> <input type="radio" id="switch" name="resultado[2]" value="3"> <span> 3 </span> </label>
                </td>
                <td><label> <input type="radio" id="switch" name="resultado[2]" value="4"> <span> 4 </span> </label>
                </td>
                <td><label> <input type="radio" id="switch" name="resultado[2]" value="5"> <span> 5 </span> </label>
                </td>
            </tr>
            <tr>
                <td align="left">4. Pienso que merece la pena prestar atención a mis emociones.</td>
                <td> <label> <input type="radio" id="switch" name="resultado[3]" value="1"> <span> 1 </span> </label>
                </td>
                <td><label> <input type="radio" id="switch" name="resultado[3]" value="2"> <span> 2 </span> </label>
                </td>
                <td><label> <input type="radio" id="switch" name="resultado[3]" value="3"> <span> 3 </span> </label>
                </td>
                <td><label> <input type="radio" id="switch" name="resultado[3]" value="4"> <span> 4 </span> </label>
                </td>
                <td><label> <input type="radio" id="switch" name="resultado[3]" value="5"> <span> 5 </span> </label>
                </td>
            </tr>
            <tr>
                <td align="left">5. Dejo que mis sentimientos afecten a mis pensamientos.</td>
                <td> <label> <input type="radio" id="switch" name="resultado[4]" value="1"> <span> 1 </span> </label>
                </td>
                <td><label> <input type="radio" id="switch" name="resultado[4]" value="2"> <span> 2 </span> </label>
                </td>
                <td><label> <input type="radio" id="switch" name="resultado[4]" value="3"> <span> 3 </span> </label>
                </td>
                <td><label> <input type="radio" id="switch" name="resultado[4]" value="4"> <span> 4 </span> </label>
                </td>
                <td><label> <input type="radio" id="switch" name="resultado[4]" value="5"> <span> 5 </span> </label>
                </td>
            </tr>
            <tr>
                <td align="left">6. Pienso en mi estado de ánimo constantemente.</td>
                <td> <label> <input type="radio" id="switch" name="resultado[5]" value="1"> <span> 1 </span> </label>
                </td>
                <td><label> <input type="radio" id="switch" name="resultado[5]" value="2"> <span> 2 </span> </label>
                </td>
                <td><label> <input type="radio" id="switch" name="resultado[5]" value="3"> <span> 3 </span> </label>
                </td>
                <td><label> <input type="radio" id="switch" name="resultado[5]" value="4"> <span> 4 </span> </label>
                </td>
                <td><label> <input type="radio" id="switch" name="resultado[5]" value="5"> <span> 5 </span> </label>
                </td>
            </tr>
            <tr>
                <td align="left">7. A menudo pienso en mis sentimientos.</td>
                <td> <label> <input type="radio" id="switch" name="resultado[6]" value="1"> <span> 1 </span> </label>
                </td>
                <td><label> <input type="radio" id="switch" name="resultado[6]" value="2"> <span> 2 </span> </label>
                </td>
                <td><label> <input type="radio" id="switch" name="resultado[6]" value="3"> <span> 3 </span> </label>
                </td>
                <td><label> <input type="radio" id="switch" name="resultado[6]" value="4"> <span> 4 </span> </label>
                </td>
                <td><label> <input type="radio" id="switch" name="resultado[6]" value="5"> <span> 5 </span> </label>
                </td>
            </tr>
            <tr>
                <td align="left">8. Presto mucha atención a cómo me siento.</td>
                <td> <label> <input type="radio" id="switch" name="resultado[7]" value="1"> <span> 1 </span> </label>
                </td>
                <td><label> <input type="radio" id="switch" name="resultado[7]" value="2"> <span> 2 </span> </label>
                </td>
                <td><label> <input type="radio" id="switch" name="resultado[7]" value="3"> <span> 3 </span> </label>
                </td>
                <td><label> <input type="radio" id="switch" name="resultado[7]" value="4"> <span> 4 </span> </label>
                </td>
                <td><label> <input type="radio" id="switch" name="resultado[7]" value="5"> <span> 5 </span> </label>
                </td>
            </tr>
            <tr>
                <td align="left">9. Tengo claros mis sentimientos.</td>
                <td> <label> <input type="radio" id="switch" name="resultado[8]" value="1"> <span> 1 </span> </label>
                </td>
                <td><label> <input type="radio" id="switch" name="resultado[8]" value="2"> <span> 2 </span> </label>
                </td>
                <td><label> <input type="radio" id="switch" name="resultado[8]" value="3"> <span> 3 </span> </label>
                </td>
                <td><label> <input type="radio" id="switch" name="resultado[8]" value="4"> <span> 4 </span> </label>
                </td>
                <td><label> <input type="radio" id="switch" name="resultado[8]" value="5"> <span> 5 </span> </label>
                </td>
            </tr>
            <tr>
                <td align="left">10. Frecuentemente puedo definir mis sentimientos.</td>
                <td> <label> <input type="radio" id="switch" name="resultado[9]" value="1"> <span> 1 </span> </label>
                </td>
                <td><label> <input type="radio" id="switch" name="resultado[9]" value="2"> <span> 2 </span> </label>
                </td>
                <td><label> <input type="radio" id="switch" name="resultado[9]" value="3"> <span> 3 </span> </label>
                </td>
                <td><label> <input type="radio" id="switch" name="resultado[9]" value="4"> <span> 4 </span> </label>
                </td>
                <td><label> <input type="radio" id="switch" name="resultado[9]" value="5"> <span> 5 </span> </label>
                </td>
            </tr>
            <tr>
                <td align="left">11. Casi siempre sé cómo me siento.</td>
                <td> <label> <input type="radio" id="switch" name="resultado[10]" value="1"> <span> 1 </span> </label>
                </td>
                <td><label> <input type="radio" id="switch" name="resultado[10]" value="2"> <span> 2 </span> </label>
                </td>
                <td><label> <input type="radio" id="switch" name="resultado[10]" value="3"> <span> 3 </span> </label>
                </td>
                <td><label> <input type="radio" id="switch" name="resultado[10]" value="4"> <span> 4 </span> </label>
                </td>
                <td><label> <input type="radio" id="switch" name="resultado[10]" value="5"> <span> 5 </span> </label>
                </td>
            </tr>
            <tr>
                <td align="left">12. Normalmente conozco mis sentimientos sobre las personas.</td>
                <td> <label> <input type="radio" id="switch" name="resultado[11]" value="1"> <span> 1 </span> </label>
                </td>
                <td><label> <input type="radio" id="switch" name="resultado[11]" value="2"> <span> 2 </span> </label>
                </td>
                <td><label> <input type="radio" id="switch" name="resultado[11]" value="3"> <span> 3 </span> </label>
                </td>
                <td><label> <input type="radio" id="switch" name="resultado[11]" value="4"> <span> 4 </span> </label>
                </td>
                <td><label> <input type="radio" id="switch" name="resultado[11]" value="5"> <span> 5 </span> </label>
                </td>
            </tr>
            <tr>
                <td align="left">13. A menudo me doy cuenta de mis sentimientos en diferentes situaciones.</td>
                <td> <label> <input type="radio" id="switch" name="resultado[12]" value="1"> <span> 1 </span> </label>
                </td>
                <td><label> <input type="radio" id="switch" name="resultado[12]" value="2"> <span> 2 </span> </label>
                </td>
                <td><label> <input type="radio" id="switch" name="resultado[12]" value="3"> <span> 3 </span> </label>
                </td>
                <td><label> <input type="radio" id="switch" name="resultado[12]" value="4"> <span> 4 </span> </label>
                </td>
                <td><label> <input type="radio" id="switch" name="resultado[12]" value="5"> <span> 5 </span> </label>
                </td>
            </tr>
            <tr>
                <td align="left">14. Siempre puedo decir cómo me siento.</td>
                <td> <label> <input type="radio" id="switch" name="resultado[13]" value="1"> <span> 1 </span> </label>
                </td>
                <td><label> <input type="radio" id="switch" name="resultado[13]" value="2"> <span> 2 </span> </label>
                </td>
                <td><label> <input type="radio" id="switch" name="resultado[13]" value="3"> <span> 3 </span> </label>
                </td>
                <td><label> <input type="radio" id="switch" name="resultado[13]" value="4"> <span> 4 </span> </label>
                </td>
                <td><label> <input type="radio" id="switch" name="resultado[13]" value="5"> <span> 5 </span> </label>
                </td>
            </tr>
            <tr>
                <td align="left">15. A veces puedo decir cuáles son mis emociones.</td>
                <td> <label> <input type="radio" id="switch" name="resultado[14]" value="1"> <span> 1 </span> </label>
                </td>
                <td><label> <input type="radio" id="switch" name="resultado[14]" value="2"> <span> 2 </span> </label>
                </td>
                <td><label> <input type="radio" id="switch" name="resultado[14]" value="3"> <span> 3 </span> </label>
                </td>
                <td><label> <input type="radio" id="switch" name="resultado[14]" value="4"> <span> 4 </span> </label>
                </td>
                <td><label> <input type="radio" id="switch" name="resultado[14]" value="5"> <span> 5 </span> </label>
                </td>
            </tr>
            <tr>
                <td align="left">16. Puedo llegar a comprender mis sentimientos.</td>
                <td> <label> <input type="radio" id="switch" name="resultado[15]" value="1"> <span> 1 </span> </label>
                </td>
                <td><label> <input type="radio" id="switch" name="resultado[15]" value="2"> <span> 2 </span> </label>
                </td>
                <td><label> <input type="radio" id="switch" name="resultado[15]" value="3"> <span> 3 </span> </label>
                </td>
                <td><label> <input type="radio" id="switch" name="resultado[15]" value="4"> <span> 4 </span> </label>
                </td>
                <td><label> <input type="radio" id="switch" name="resultado[15]" value="5"> <span> 5 </span> </label>
                </td>
            </tr>
            <tr>
                <td align="left">17. Aunque a veces me siento triste, suelo tener una visión positiva.</td>
                <td> <label> <input type="radio" id="switch" name="resultado[16]" value="1"> <span> 1 </span> </label>
                </td>
                <td><label> <input type="radio" id="switch" name="resultado[16]" value="2"> <span> 2 </span> </label>
                </td>
                <td><label> <input type="radio" id="switch" name="resultado[16]" value="3"> <span> 3 </span> </label>
                </td>
                <td><label> <input type="radio" id="switch" name="resultado[16]" value="4"> <span> 4 </span> </label>
                </td>
                <td><label> <input type="radio" id="switch" name="resultado[16]" value="5"> <span> 5 </span> </label>
                </td>
            </tr>
            <tr>
                <td align="left">18. Aunque me sienta mal, procuro pensar en cosas agradables.</td>
                <td> <label> <input type="radio" id="switch" name="resultado[17]" value="1"> <span> 1 </span> </label>
                </td>
                <td><label> <input type="radio" id="switch" name="resultado[17]" value="2"> <span> 2 </span> </label>
                </td>
                <td><label> <input type="radio" id="switch" name="resultado[17]" value="3"> <span> 3 </span> </label>
                </td>
                <td><label> <input type="radio" id="switch" name="resultado[17]" value="4"> <span> 4 </span> </label>
                </td>
                <td><label> <input type="radio" id="switch" name="resultado[17]" value="5"> <span> 5 </span> </label>
                </td>
            </tr>
            <tr>
                <td align="left">19. Cuando estoy triste, pienso en todos los placeres de la vida.</td>
                <td> <label> <input type="radio" id="switch" name="resultado[18]" value="1"> <span> 1 </span> </label>
                </td>
                <td><label> <input type="radio" id="switch" name="resultado[18]" value="2"> <span> 2 </span> </label>
                </td>
                <td><label> <input type="radio" id="switch" name="resultado[18]" value="3"> <span> 3 </span> </label>
                </td>
                <td><label> <input type="radio" id="switch" name="resultado[18]" value="4"> <span> 4 </span> </label>
                </td>
                <td><label> <input type="radio" id="switch" name="resultado[18]" value="5"> <span> 5 </span> </label>
                </td>
            </tr>
            <tr>
                <td align="left">20. Intento tener pensamientos positivos aunque me sienta mal.</td>
                <td> <label> <input type="radio" id="switch" name="resultado[19]" value="1"> <span> 1 </span> </label>
                </td>
                <td><label> <input type="radio" id="switch" name="resultado[19]" value="2"> <span> 2 </span> </label>
                </td>
                <td><label> <input type="radio" id="switch" name="resultado[19]" value="3"> <span> 3 </span> </label>
                </td>
                <td><label> <input type="radio" id="switch" name="resultado[19]" value="4"> <span> 4 </span> </label>
                </td>
                <td><label> <input type="radio" id="switch" name="resultado[19]" value="5"> <span> 5 </span> </label>
                </td>
            </tr>
            <tr>
                <td align="left">21. Si doy demasiadas vueltas a las cosas, complicándolas, trato de calmarme.</td>
                <td> <label> <input type="radio" id="switch" name="resultado[20]" value="1"> <span> 1 </span> </label>
                </td>
                <td><label> <input type="radio" id="switch" name="resultado[20]" value="2"> <span> 2 </span> </label>
                </td>
                <td><label> <input type="radio" id="switch" name="resultado[20]" value="3"> <span> 3 </span> </label>
                </td>
                <td><label> <input type="radio" id="switch" name="resultado[20]" value="4"> <span> 4 </span> </label>
                </td>
                <td><label> <input type="radio" id="switch" name="resultado[20]" value="5"> <span> 5 </span> </label>
                </td>
            </tr>
            <tr>
                <td align="left">22. Me preocupo por tener un buen estado de ánimo.</td>
                <td> <label> <input type="radio" id="switch" name="resultado[21]" value="1"> <span> 1 </span> </label>
                </td>
                <td><label> <input type="radio" id="switch" name="resultado[21]" value="2"> <span> 2 </span> </label>
                </td>
                <td><label> <input type="radio" id="switch" name="resultado[21]" value="3"> <span> 3 </span> </label>
                </td>
                <td><label> <input type="radio" id="switch" name="resultado[21]" value="4"> <span> 4 </span> </label>
                </td>
                <td><label> <input type="radio" id="switch" name="resultado[21]" value="5"> <span> 5 </span> </label>
                </td>
            </tr>
            <tr>
                <td align="left">23. Tengo mucha energía cuando me siento feliz.</td>
                <td> <label> <input type="radio" id="switch" name="resultado[22]" value="1"> <span> 1 </span> </label>
                </td>
                <td><label> <input type="radio" id="switch" name="resultado[22]" value="2"> <span> 2 </span> </label>
                </td>
                <td><label> <input type="radio" id="switch" name="resultado[22]" value="3"> <span> 3 </span> </label>
                </td>
                <td><label> <input type="radio" id="switch" name="resultado[22]" value="4"> <span> 4 </span> </label>
                </td>
                <td><label> <input type="radio" id="switch" name="resultado[22]" value="5"> <span> 5 </span> </label>
                </td>
            </tr>
            <tr>
                <td align="left">24. Cuando estoy enfadado intento cambiar mi estado de ánimo.</td>
                <td> <label> <input type="radio" id="switch" name="resultado[23]" value="1"> <span> 1 </span> </label>
                </td>
                <td><label> <input type="radio" id="switch" name="resultado[23]" value="2"> <span> 2 </span> </label>
                </td>
                <td><label> <input type="radio" id="switch" name="resultado[23]" value="3"> <span> 3 </span> </label>
                </td>
                <td><label> <input type="radio" id="switch" name="resultado[23]" value="4"> <span> 4 </span> </label>
                </td>
                <td><label> <input type="radio" id="switch" name="resultado[23]" value="5"> <span> 5 </span> </label>
                </td>
            </tr>
        </tbody>
    </table>
    <div class="flex flex-row flex-justify-center">
        <button> Enviar</button>
    </div>
</div>