<h1>Escala de Autoestima de Rosemberg</h1>
<h2>Instrucciones:</h2>
Este test tiene por objeto evaluar el sentimiento de satisfacción que la persona tiene de si misma. Por favor,
conteste
las siguientes frases con la respuesta que considere más apropiada.
<ul style="list-style: upper-latin;padding-left: 2em;">
    <li>MUY DE ACUERDO</li>
    <li>DE ACUERDO</li>
    <li>EN DESACUERDO</li>
    <li>MUY EN DESACUERDO</li>
</ul>
<div class="flex flex-justify-center">
    <a routerLink="/cuestionario/autoestima">Iniciar Test</a>
</div>