<!-- Header del sitio -->
<header class="flex flex-center flex-gap-1">
    <h1>Proyecto Final</h1>
    <!-- Menú de navegación del sitio -->
    <nav class="flex flex-row flex-center flex-gap-1">
        <li><a routerLink='/'>Inicio</a></li>
        <li><a routerLink='/'>Inventario de la Motivación Personal</a></li>
        <li><a routerLink='/'>Test Inteligencia Emocional</a></li>
        <li><a routerLink='/'>Test Vocacional</a></li>
        <li><a routerLink='/'>Chaside</a></li>
        <li><a routerLink='/'>Test Escala Autoestima</a></li>
        <li><a routerLink='/'>Inventario de la Motivación Personal</a></li>
    </nav>
</header>