<!-- Header del sitio -->
<header class="flex flex-center flex-gap-1">
    <h1>Proyecto Final</h1>
    <!-- Menú de navegación del sitio -->
    <nav class="flex flex-row flex-center flex-gap-1">
        <li><a routerLink='/'>Inicio</a></li>
        <li><a routerLink='/instrucciones/inventario'>Inventario de la Motivación Personal</a></li>
        <li><a routerLink='/instrucciones/inteligencia'>Test Inteligencia Emocional</a></li>
        <li><a routerLink='/instrucciones/autoestima'>Test Autoestima de Rosenberg</a></li>
        <li><a routerLink='/instrucciones/asertividad'>Test de Asertividad</a></li>
        <li><a routerLink='/instrucciones/chaside'>Test Chaside</a></li>
    </nav>
</header>