<h1>Inventario de la motivacion personal</h1>
<h2>Instrucciones:</h2>
<p>
    Lea cuidadosamente cada frase incompleta y distribuya 10 puntos en los tres diferentes
    complementos.
    Asigne más puntos al complemento con el que más se identifique y menos a los demás:
</p>
<h3>Ejemplo:</h3>
<div class="justify">
    <b>
        <span>
            1. Me siento mejor con los demás cuando…
        </span>
        <p class="three-column-section">
            <span>
                Los dirijo.
                (
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                )
            </span>
            <span>
                Me acemptan.
                (
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                )
            </span>
            <span>
                Aprendo algo de ellos.
                (
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                )
            </span>
        </p>
    </b>
</div>

<p>
    Puede utilizar cualquier combinación que sume 10 puntos. Asegúrese de que no sean más ni
    menos de 10
    puntos.
    <br>
    <b>
        Este inventario no es un examen, ni hay respuestas buenas o malas, solo se busca que
        obtenga
        información útil para su conocimiento. Por lo tanto es importante que cuando lo
        conteste sea muy
        honesto y espontáneo. De igual manera, tenga cuidado de responder de acuerdo con lo
        que realmente es
        y no como quisiera ser.
    </b>
</p>
<div class="flex flex-justify-center">
    <a routerLink="/cuestionario/inventario">Iniciar Test</a>
</div>