<h1>Test de Inteligencia</h1>
<h2>Instrucciones</h2>
<p>El test de inteligencia emocional mide tres dimensiones clave:</p>

<ul style="list-style: upper-latin; padding-left: 2em;">
    <li>Atención: Soy capaz de sentir y expresar los sentimientos de forma adecuada.</li>
    <li>Claridad: Comprendo bien mis estados.</li>
    <li>Reparación: Soy capaz de regular los estados emocionales correctamente.</li>
</ul>

<p>
    Lee las siguientes afirmaciones sobre tus emociones y sentimientos e indica el grado de acuerdo o de desacuerdo
    con respecto a las mismas.
</p>

<table border="1">
    <tbody>
        <tr>
            <td>1</td>
            <td>2</td>
            <td>3</td>
            <td>4</td>
            <td>5</td>
        </tr>
        <tr>
            <td>
                <p>Nada de acuerdo</p>
            </td>
            <td>
                <p>Algo de acuerdo</p>
            </td>
            <td>
                <p>Bastante de acuerdo</p>
            </td>
            <td>
                <p>Muy de acuerdo</p>
            </td>
            <td>
                <p>Totalmente de acuerdo</p>
            </td>
        </tr>
    </tbody>
</table>

<p>
    No hay respuestas correctas o incorrectas, marca la que más se aproxime a tus preferencias y ¡no emplees
    demasiado tiempo en cada uno de ellas¡
</p>
<div class="flex flex-justify-center">
    <a routerLink="/cuestionario/inteligencia">Iniciar Test</a>
</div>