<p><span>
        <header>
            <p class="titulo">Instrucciones: </p>
            <p class="texto">A continuación lee atentamente cada pregunta. Marca en el cuadro de respuestas abajo solo
                la que contestes afirmativamente (o sea que contestes SI). Lee TODAS las preguntas sin omitir ninguna.
            </p>
            <form action="Consultar.php">
                <button id="cons">Resultados anteriores</button>
            </form>
            <p><button> </button> </p>
        </header>
    </span>
    <span>
        <p>Primero, Escribe tu nombre completo:</p>
        <p></p><input type="text" id="name">
        <p></p>
        <table>

            <tr>
                <td>1</td>
                <td>¿Aceptarías trabajar escribiendo artículos en la sección de economía de un diario? </td>
            </tr>

            <tr>
                <td>2</td>
                <td>¿Te ofrecerías para organizar la despedida de soltero/s de uno de tus amigos? </td>
            </tr>

            <tr>
                <td>3</td>
                <td>¿Te gustaría dirigir un proyecto de urbanización en tu lugar de residencia? </td>
            </tr>

            <tr>
                <td>4</td>
                <td>¿A una frustración siempre opones un pensamiento positivo? </td>
            </tr>

            <tr>
                <td>5</td>
                <td>¿Te dedicarías a socorrer a personas accidentadas o atacadas por asaltantes? </td>
            </tr>

            <tr>
                <td>6</td>
                <td>Cuándo eras chico ¿te interesaba saber como estaban construidos tus juguetes? </td>
            </tr>

            <tr>
                <td>7</td>
                <td>¿Te interesan más los misterios de la naturaleza que los secretos de la tecnología? </td>
            </tr>

            <tr>
                <td>8</td>
                <td>¿Escuchas atentamente los problemas que te plantean tus amigos? </td>
            </tr>

            <tr>
                <td>9</td>
                <td>¿Te ofrecerías para explicarle a tus compañeros un tema que ellos no entendieron? </td>
            </tr>

            <tr>
                <td>10</td>
                <td>¿Eres exigente y crítico con tu equipo de trabajo? </td>
            </tr>

            <tr>
                <td>11</td>
                <td>¿Te atrae armar rompecabezas? </td>
            </tr>

            <tr>
                <td>12</td>
                <td>¿Sabes la diferencia conceptual entre macroeconomía y microeconomía? </td>
            </tr>

            <tr>
                <td>13</td>
                <td>Usar uniforme, ¿Te hace sentir distinto, importante? </td>
            </tr>

            <tr>
                <td>14</td>
                <td>¿Participarías como profesional en un espectáculo de acrobacia aérea? </td>
            </tr>

            <tr>
                <td>15</td>
                <td>¿Organizas tu dinero de modo que te alcance para lo que debes hacer con él? </td>
            </tr>

            <tr>
                <td>16</td>
                <td>¿Convences fácilmente a otras personas sobre la validez de tus argumentos? </td>
            </tr>

            <tr>
                <td>17</td>
                <td>¿Estás informado sobre los últimos descubrimientos científicos? </td>
            </tr>

            <tr>
                <td>18</td>
                <td>Ante una situación de emergencia, ¿Actúas rápidamente? </td>
            </tr>

            <tr>
                <td>19</td>
                <td>Cuando tienes que resolver un problema matemático ¿Perseveras hasta encontrar la solución? </td>
            </tr>

            <tr>
                <td>20</td>
                <td>Si te convocara tu club preferido para planificar, organizar y dirigir un campo deportivo
                    ¿Aceptarías? </td>
            </tr>

            <tr>
                <td>21</td>
                <td>¿Eres el que pone un toque de alegría en las fiestas? </td>
            </tr>

            <tr>
                <td>22</td>
                <td>¿Crees que los detalles son tan importantes como el todo? </td>
            </tr>

            <tr>
                <td>23</td>
                <td>¿Te sentirías a gusto trabajando en un ámbito hospitalario? </td>
            </tr>

            <tr>
                <td>24</td>
                <td>¿Te gustaría participar para mantener el orden en grandes desordenes o catástrofes? </td>
            </tr>

            <tr>
                <td>25</td>
                <td>¿Pasarías varias horas leyendo un libro de tu interés? </td>
            </tr>

            <tr>
                <td>26</td>
                <td>¿Planificas detalladamente tus trabajos antes de empezar? </td>
            </tr>

            <tr>
                <td>27</td>
                <td>¿Entablas una relación casi personal con tu computadora? </td>
            </tr>

            <tr>
                <td>28</td>
                <td>¿Disfrutarías modelar arcilla? </td>
            </tr>

            <tr>
                <td>29</td>
                <td>¿Ayudas a no videntes habitualmente a cruzar la calle? </td>
            </tr>

            <tr>
                <td>30</td>
                <td>¿Consideras importante que desde la escuela primaria se fomente la actitud crítica y la
                    participación activa? </td>
            </tr>

            <tr>
                <td>31</td>
                <td>¿Te parece bien que las mujeres formen parte de las fuerzas armadas bajo las mismas condiciones que
                    los hombres? </td>
            </tr>

            <tr>
                <td>32</td>
                <td>¿Te gustaría crear nuevas técnicas para descubrir las enfermedades a través del microscopio? </td>
            </tr>

            <tr>
                <td>33</td>
                <td>¿Participarías en una campaña de prevención de la enfermedad del Dengue? </td>
            </tr>

            <tr>
                <td>34</td>
                <td>¿Te interesan los temas relacionados al pasado y el progreso de la humanidad? </td>
            </tr>

            <tr>
                <td>35</td>
                <td>¿Te incluirías en un proyecto de investigación de los movimientos sísmicos y sus consecuencias?
                </td>
            </tr>

            <tr>
                <td>36</td>
                <td>Fuera de los horarios escolares ¿dedicas algún tiempo a actividades corporales? </td>
            </tr>

            <tr>
                <td>37</td>
                <td>¿Te interesan las actividades de mucha acción y de reacción rápida en situaciones imprevistas de
                    peligro? </td>
            </tr>

            <tr>
                <td>38</td>
                <td>¿Te ofrecerías para colaborar como voluntarios en los laboratorios especiales de la NASA? </td>
            </tr>

            <tr>
                <td>39</td>
                <td>¿Te gusta más el trabajo manual que el trabajo intelectual? </td>
            </tr>

            <tr>
                <td>40</td>
                <td>¿Estarías dispuesto a renunciar a un momento placentero por ofrecer tu servicio como profesional?
                </td>
            </tr>

            <tr>
                <td>41</td>
                <td>¿Te ofrecerías para explicarle a tus compañeros un tema que ellos no entendieron? </td>
            </tr>

            <tr>
                <td>42</td>
                <td>¿Eres exigente y crítico con tu equipo de trabajo? </td>
            </tr>

            <tr>
                <td>43</td>
                <td>¿Te atrae armar rompecabezas? </td>
            </tr>

            <tr>
                <td>44</td>
                <td>¿Sabes la diferencia conceptual entre macroeconomía y microeconomía? </td>
            </tr>

            <tr>
                <td>45</td>
                <td>Usar uniforme, ¿Te hace sentir distinto, importante? </td>
            </tr>

            <tr>
                <td>46</td>
                <td>¿Participarías como profesional en un espectáculo de acrobacia aérea? </td>
            </tr>

            <tr>
                <td>47</td>
                <td>¿Organizas tu dinero de modo que te alcance para lo que debes hacer con él? </td>
            </tr>

            <tr>
                <td>48</td>
                <td>¿Convences fácilmente a otras personas sobre la validez de tus argumentos? </td>
            </tr>

            <tr>
                <td>49</td>
                <td>¿Aceptarías trabajar escribiendo artículos en la sección de economía de un diario? </td>
            </tr>

            <tr>
                <td>50</td>
                <td>¿Te ofrecerías para organizar la despedida de soltero/s de uno de tus amigos? </td>
            </tr>

            <tr>
                <td>51</td>
                <td>¿Te gustaría dirigir un proyecto de urbanización en tu lugar de residencia? </td>
            </tr>

            <tr>
                <td>52</td>
                <td>¿A una frustración siempre opones un pensamiento positivo? </td>
            </tr>

            <tr>
                <td>53</td>
                <td>¿Te dedicarías a socorrer a personas accidentadas o atacadas por asaltantes? </td>
            </tr>

            <tr>
                <td>54</td>
                <td>Cuándo eras chico ¿te interesaba saber como estaban construidos tus juguetes? </td>
            </tr>

            <tr>
                <td>55</td>
                <td>¿Te interesan más los misterios de la naturaleza que los secretos de la tecnología? </td>
            </tr>

            <tr>
                <td>56</td>
                <td>¿Escuchas atentamente los problemas que te plantean tus amigos? </td>
            </tr>

            <tr>
                <td>57</td>
                <td>¿Te ofrecerías para explicarle a tus compañeros un tema que ellos no entendieron? </td>
            </tr>

            <tr>
                <td>58</td>
                <td>¿Eres exigente y crítico con tu equipo de trabajo? </td>
            </tr>

            <tr>
                <td>59</td>
                <td>¿Te atrae armar rompecabezas? </td>
            </tr>

            <tr>
                <td>60</td>
                <td>¿Sabes la diferencia conceptual entre macroeconomía y microeconomía? </td>
            </tr>

            <tr>
                <td>61</td>
                <td>Usar uniforme, ¿Te hace sentir distinto, importante? </td>
            </tr>

            <tr>
                <td>62</td>
                <td>¿Participarías como profesional en un espectáculo de acrobacia aérea? </td>
            </tr>

            <tr>
                <td>63</td>
                <td>¿Organizas tu dinero de modo que te alcance para lo que debes hacer con él? </td>
            </tr>

            <tr>
                <td>64</td>
                <td>¿Convences fácilmente a otras personas sobre la validez de tus argumentos? </td>
            </tr>

            <tr>
                <td>65</td>
                <td>¿Aceptarías trabajar escribiendo artículos en la sección de economía de un diario? </td>
            </tr>

            <tr>
                <td>66</td>
                <td>¿Te ofrecerías para organizar la despedida de soltero/s de uno de tus amigos? </td>
            </tr>

            <tr>
                <td>67</td>
                <td>¿Te gustaría dirigir un proyecto de urbanización en tu lugar de residencia? </td>
            </tr>

            <tr>
                <td>68</td>
                <td>¿A una frustración siempre opones un pensamiento positivo? </td>
            </tr>

            <tr>
                <td>69</td>
                <td>¿Te dedicarías a socorrer a personas accidentadas o atacadas por asaltantes? </td>
            </tr>

            <tr>
                <td>70</td>
                <td>Cuándo eras chico ¿te interesaba saber como estaban construidos tus juguetes? </td>
            </tr>

            <tr>
                <td>71</td>
                <td>¿Te interesan más los misterios de la naturaleza que los secretos de la tecnología? </td>
            </tr>

            <tr>
                <td>72</td>
                <td>¿Escuchas atentamente los problemas que te plantean tus amigos? </td>
            </tr>

            <tr>
                <td>73</td>
                <td>¿Te ofrecerías para explicarle a tus compañeros un tema que ellos no entendieron? </td>
            </tr>

            <tr>
                <td>74</td>
                <td>¿Eres exigente y crítico con tu equipo de trabajo? </td>
            </tr>

            <tr>
                <td>75</td>
                <td>¿Te atrae armar rompecabezas? </td>
            </tr>

            <tr>
                <td>76</td>
                <td>¿Sabes la diferencia conceptual entre macroeconomía y microeconomía? </td>
            </tr>

            <tr>
                <td>77</td>
                <td>Usar uniforme, ¿Te hace sentir distinto, importante? </td>
            </tr>

            <tr>
                <td>78</td>
                <td>¿Participarías como profesional en un espectáculo de acrobacia aérea? </td>
            </tr>

            <tr>
                <td>79</td>
                <td>¿Organizas tu dinero de modo que te alcance para lo que debes hacer con él? </td>
            </tr>

            <tr>
                <td>80</td>
                <td>¿Convences fácilmente a otras personas sobre la validez de tus argumentos? </td>
            </tr>

            <tr>
                <td>81</td>
                <td>¿Aceptarías trabajar escribiendo artículos en la sección de economía de un diario? </td>
            </tr>

            <tr>
                <td>82</td>
                <td>¿Te ofrecerías para organizar la despedida de soltero/s de uno de tus amigos? </td>
            </tr>

            <tr>
                <td>83</td>
                <td>¿Te gustaría dirigir un proyecto de urbanización en tu lugar de residencia? </td>
            </tr>

            <tr>
                <td>84</td>
                <td>¿A una frustración siempre opones un pensamiento positivo? </td>
            </tr>

            <tr>
                <td>85</td>
                <td>¿Te dedicarías a socorrer a personas accidentadas o atacadas por asaltantes? </td>
            </tr>

            <tr>
                <td>86</td>
                <td>Cuándo eras chico ¿te interesaba saber como estaban construidos tus juguetes? </td>
            </tr>

            <tr>
                <td>87</td>
                <td>¿Te interesan más los misterios de la naturaleza que los secretos de la tecnología? </td>
            </tr>

            <tr>
                <td>88</td>
                <td>¿Escuchas atentamente los problemas que te plantean tus amigos? </td>
            </tr>

            <tr>
                <td>89</td>
                <td>¿Te ofrecerías para explicarle a tus compañeros un tema que ellos no entendieron? </td>
            </tr>

            <tr>
                <td>90</td>
                <td>¿Eres exigente y crítico con tu equipo de trabajo? </td>
            </tr>

            <tr>
                <td>91</td>
                <td>¿Te atrae armar rompecabezas? </td>
            </tr>

            <tr>
                <td>92</td>
                <td>¿Sabes la diferencia conceptual entre macroeconomía y microeconomía? </td>
            </tr>

            <tr>
                <td>93</td>
                <td>Usar uniforme, ¿Te hace sentir distinto, importante? </td>
            </tr>

            <tr>
                <td>94</td>
                <td>¿Participarías como profesional en un espectáculo de acrobacia aérea? </td>
            </tr>

            <tr>
                <td>95</td>
                <td>¿Organizas tu dinero de modo que te alcance para lo que debes hacer con él? </td>
            </tr>

            <tr>
                <td>96</td>
                <td>¿Convences fácilmente a otras personas sobre la validez de tus argumentos? </td>
            </tr>

            <tr>
                <td>97</td>
                <td>¿Organizas tu dinero de modo que te alcance para lo que debes hacer con él? </td>
            </tr>

            <tr>
                <td>98</td>
                <td>¿Convences fácilmente a otras personas sobre la validez de tus argumentos? </td>
            </tr>
        </table>
        <p>---------------------------------------------------------------------------------------------</p>
        <table>

            <tr>
                <td style="font-weight: bolder;">C</td>
                <td style="font-weight: bolder;">H</td>
                <td style="font-weight: bolder;">A</td>
                <td style="font-weight: bolder;">S</td>
                <td style="font-weight: bolder;">I</td>
                <td style="font-weight: bolder;">D</td>
                <td style="font-weight: bolder;">E</td>
            </tr>
            <tr>
                <td><label class="container">98<input type="checkbox" id="98"><span class="checkmark"></span></label>
                </td>
                <td><label class="container">9<input type="checkbox" id="9"><span class="checkmark"></span></label></td>
                <td><label class="container">21<input type="checkbox" id="21"><span class="checkmark"></span></label>
                </td>
                <td><label class="container">33<input type="checkbox" id="33"><span class="checkmark"></span></label>
                </td>
                <td><label class="container">75<input type="checkbox" id="75"><span class="checkmark"></span></label>
                </td>
                <td><label class="container">84<input type="checkbox" id="84"><span class="checkmark"></span></label>
                </td>
                <td><label class="container">77<input type="checkbox" id="77"><span class="checkmark"></span></label>
                </td>
            </tr>
            <tr>
                <td><label class="container">12<input type="checkbox" id="12"><span class="checkmark"></span></label>
                </td>
                <td><label class="container">34<input type="checkbox" id="34"><span class="checkmark"></span></label>
                </td>
                <td><label class="container">45<input type="checkbox" id="45"><span class="checkmark"></span></label>
                </td>
                <td><label class="container">92<input type="checkbox" id="92"><span class="checkmark"></span></label>
                </td>
                <td><label class="container">6<input type="checkbox" id="6"><span class="checkmark"></span></label></td>
                <td><label class="container">31<input type="checkbox" id="31"><span class="checkmark"></span></label>
                </td>
                <td><label class="container">42<input type="checkbox" id="42"><span class="checkmark"></span></label>
                </td>
            </tr>
            <tr>
                <td><label class="container">64<input type="checkbox" id="64"><span class="checkmark"></span></label>
                </td>
                <td><label class="container">80<input type="checkbox" id="80"><span class="checkmark"></span></label>
                </td>
                <td><label class="container">96<input type="checkbox" id="96"><span class="checkmark"></span></label>
                </td>
                <td><label class="container">70<input type="checkbox" id="70"><span class="checkmark"></span></label>
                </td>
                <td><label class="container">19<input type="checkbox" id="19"><span class="checkmark"></span></label>
                </td>
                <td><label class="container">48<input type="checkbox" id="48"><span class="checkmark"></span></label>
                </td>
                <td><label class="container">88<input type="checkbox" id="88"><span class="checkmark"></span></label>
                </td>
            </tr>
            <tr>
                <td><label class="container">53<input type="checkbox" id="53"><span class="checkmark"></span></label>
                </td>
                <td><label class="container">25<input type="checkbox" id="25"><span class="checkmark"></span></label>
                </td>
                <td><label class="container">57<input type="checkbox" id="57"><span class="checkmark"></span></label>
                </td>
                <td><label class="container">8<input type="checkbox" id="8"><span class="checkmark"></span></label></td>
                <td><label class="container">38<input type="checkbox" id="38"><span class="checkmark"></span></label>
                </td>
                <td><label class="container">73<input type="checkbox" id="73"><span class="checkmark"></span></label>
                </td>
                <td><label class="container">17<input type="checkbox" id="17"><span class="checkmark"></span></label>
                </td>
            </tr>
            <tr>
                <td><label class="container">85<input type="checkbox" id="85"><span class="checkmark"></span></label>
                </td>
                <td><label class="container">95<input type="checkbox" id="95"><span class="checkmark"></span></label>
                </td>
                <td><label class="container">28<input type="checkbox" id="28"><span class="checkmark"></span></label>
                </td>
                <td><label class="container">87<input type="checkbox" id="87"><span class="checkmark"></span></label>
                </td>
                <td><label class="container">60<input type="checkbox" id="60"><span class="checkmark"></span></label>
                </td>
                <td><label class="container">5<input type="checkbox" id="5"><span class="checkmark"></span></label></td>
                <td><label class="container">93<input type="checkbox" id="93"><span class="checkmark"></span></label>
                </td>
            </tr>

            <tr>
                <td><label class="container">1<input type="checkbox" id="1"><span class="checkmark"></span></label></td>
                <td><label class="container">67<input type="checkbox" id="67"><span class="checkmark"></span></label>
                </td>
                <td><label class="container">11<input type="checkbox" id="11"><span class="checkmark"></span></label>
                </td>
                <td><label class="container">62<input type="checkbox" id="62"><span class="checkmark"></span></label>
                </td>
                <td><label class="container">27<input type="checkbox" id="27"><span class="checkmark"></span></label>
                </td>
                <td><label class="container">65<input type="checkbox" id="65"><span class="checkmark"></span></label>
                </td>
                <td><label class="container">32<input type="checkbox" id="32"><span class="checkmark"></span></label>
                </td>
                <td style="font-weight: bolder;">C</td>
                <td style="font-weight: bolder;">H</td>
                <td style="font-weight: bolder;">A</td>
                <td style="font-weight: bolder;">S</td>
                <td style="font-weight: bolder;">I</td>
                <td style="font-weight: bolder;">D</td>
                <td style="font-weight: bolder;">E</td>
            </tr>
            <tr>
                <td><label class="container">78<input type="checkbox" id="78"><span class="checkmark"></span></label>
                </td>
                <td><label class="container">41<input type="checkbox" id="41"><span class="checkmark"></span></label>
                </td>
                <td><label class="container">50<input type="checkbox" id="50"><span class="checkmark"></span></label>
                </td>
                <td><label class="container">23<input type="checkbox" id="23"><span class="checkmark"></span></label>
                </td>
                <td><label class="container">83<input type="checkbox" id="83"><span class="checkmark"></span></label>
                </td>
                <td><label class="container">14<input type="checkbox" id="14"><span class="checkmark"></span></label>
                </td>
                <td><label class="container">68<input type="checkbox" id="68"><span class="checkmark"></span></label>
                </td>
                <td><label class="container">15<input type="checkbox" id="15"><span class="checkmark"></span></label>
                </td>
                <td><label class="container">63<input type="checkbox" id="63"><span class="checkmark"></span></label>
                </td>
                <td><label class="container">22<input type="checkbox" id="22"><span class="checkmark"></span></label>
                </td>
                <td><label class="container">69<input type="checkbox" id="69"><span class="checkmark"></span></label>
                </td>
                <td><label class="container">26<input type="checkbox" id="26"><span class="checkmark"></span></label>
                </td>
                <td><label class="container">13<input type="checkbox" id="13"><span class="checkmark"></span></label>
                </td>
                <td><label class="container">94<input type="checkbox" id="94"><span class="checkmark"></span></label>
                </td>
            </tr>
            <tr>
                <td><label class="container">20<input type="checkbox" id="20"><span class="checkmark"></span></label>
                </td>
                <td><label class="container">74<input type="checkbox" id="74"><span class="checkmark"></span></label>
                </td>
                <td><label class="container">3<input type="checkbox" id="3"><span class="checkmark"></span></label></td>
                <td><label class="container">44<input type="checkbox" id="44"><span class="checkmark"></span></label>
                </td>
                <td><label class="container">54<input type="checkbox" id="54"><span class="checkmark"></span></label>
                </td>
                <td><label class="container">37<input type="checkbox" id="37"><span class="checkmark"></span></label>
                </td>
                <td><label class="container">49<input type="checkbox" id="49"><span class="checkmark"></span></label>
                </td>
                <td><label class="container">51<input type="checkbox" id="51"><span class="checkmark"></span></label>
                </td>
                <td><label class="container">30<input type="checkbox" id="30"><span class="checkmark"></span></label>
                </td>
                <td><label class="container">39<input type="checkbox" id="39"><span class="checkmark"></span></label>
                </td>
                <td><label class="container">40<input type="checkbox" id="40"><span class="checkmark"></span></label>
                </td>
                <td><label class="container">59<input type="checkbox" id="59"><span class="checkmark"></span></label>
                </td>
                <td><label class="container">66<input type="checkbox" id="66"><span class="checkmark"></span></label>
                </td>
                <td><label class="container">7<input type="checkbox" id="7"><span class="checkmark"></span></label></td>
            </tr>
            <tr>
                <td><label class="container">71<input type="checkbox" id="71"><span class="checkmark"></span></label>
                </td>
                <td><label class="container">56<input type="checkbox" id="56"><span class="checkmark"></span></label>
                </td>
                <td><label class="container">81<input type="checkbox" id="81"><span class="checkmark"></span></label>
                </td>
                <td><label class="container">16<input type="checkbox" id="16"><span class="checkmark"></span></label>
                </td>
                <td><label class="container">47<input type="checkbox" id="47"><span class="checkmark"></span></label>
                </td>
                <td><label class="container">58<input type="checkbox" id="58"><span class="checkmark"></span></label>
                </td>
                <td><label class="container">35<input type="checkbox" id="35"><span class="checkmark"></span></label>
                </td>
                <td><label class="container">2<input type="checkbox" id="2"><span class="checkmark"></span></label></td>
                <td><label class="container">72<input type="checkbox" id="72"><span class="checkmark"></span></label>
                </td>
                <td><label class="container">76<input type="checkbox" id="76"><span class="checkmark"></span></label>
                </td>
                <td><label class="container">29<input type="checkbox" id="29"><span class="checkmark"></span></label>
                </td>
                <td><label class="container">90<input type="checkbox" id="90"><span class="checkmark"></span></label>
                </td>
                <td><label class="container">18<input type="checkbox" id="18"><span class="checkmark"></span></label>
                </td>
                <td><label class="container">79<input type="checkbox" id="79"><span class="checkmark"></span></label>
                </td>
            </tr>
            <tr>
                <td><label class="container">91<input type="checkbox" id="91"><span class="checkmark"></span></label>
                </td>
                <td><label class="container">89<input type="checkbox" id="89"><span class="checkmark"></span></label>
                </td>
                <td><label class="container">36<input type="checkbox" id="36"><span class="checkmark"></span></label>
                </td>
                <td><label class="container">52<input type="checkbox" id="52"><span class="checkmark"></span></label>
                </td>
                <td><label class="container">97<input type="checkbox" id="97"><span class="checkmark"></span></label>
                </td>
                <td><label class="container">24<input type="checkbox" id="24"><span class="checkmark"></span></label>
                </td>
                <td><label class="container">61<input type="checkbox" id="61"><span class="checkmark"></span></label>
                </td>
                <td><label class="container">46<input type="checkbox" id="46"><span class="checkmark"></span></label>
                </td>
                <td><label class="container">86<input type="checkbox" id="86"><span class="checkmark"></span></label>
                </td>
                <td><label class="container">82<input type="checkbox" id="82"><span class="checkmark"></span></label>
                </td>
                <td><label class="container">4<input type="checkbox" id="4"><span class="checkmark"></span></label></td>
                <td><label class="container">10<input type="checkbox" id="10"><span class="checkmark"></span></label>
                </td>
                <td><label class="container">43<input type="checkbox" id="43"><span class="checkmark"></span></label>
                </td>
                <td><label class="container">55<input type="checkbox" id="55"><span class="checkmark"></span></label>
                </td>
            </tr>

        </table>
        <input type="button" onclick="resultado()" value="Ver resultados">
        <form action="Registrar.php" name="reg" method="post">
            <p id="nombre"></p>

            <h3>Nombre registrado:</h3>
            <p id="Nreg"></p>
            <h3>Resultado final aptitudes:</h3>
            <table>
                <tr>
                    <td id="aptitud"></td>
                </tr>
                <tr>
                    <td><a id="ap"></a></td>
                </tr>
            </table>
            <h3>Resultado final Interes:</h3>
            <table>
                <tr>
                    <td id="interes"></td>
                </tr>
                <tr>
                    <td><a id="in"></a></td>
                </tr>
            </table>
            <p id="Finalizar"></p>
        </form>
        <form action="Consulta.php">
            <p id="cons"></p>
        </form>

    </span>
</p>