<h1>Instrucciones: </h1>
<p>A continuación lee atentamente cada pregunta. Marca en el cuadro de respuestas abajo solo
    la que contestes afirmativamente (o sea que contestes SI). Lee TODAS las preguntas sin omitir ninguna.
</p>
<br>
<p>
    <span>
        <ol style="padding-left: 1.5em; padding-bottom: 1em;">
            <li>¿Aceptarías trabajar escribiendo artículos en la sección de economía de un diario? </li>
            <li>¿Te ofrecerías para organizar la despedida de soltero/s de uno de tus amigos? </li>
            <li>¿Te gustaría dirigir un proyecto de urbanización en tu lugar de residencia? </li>
            <li>¿A una frustración siempre opones un pensamiento positivo? </li>
            <li>¿Te dedicarías a socorrer a personas accidentadas o atacadas por asaltantes? </li>
            <li>Cuándo eras chico ¿te interesaba saber como estaban construidos tus juguetes? </li>
            <li>¿Te interesan más los misterios de la naturaleza que los secretos de la tecnología? </li>
            <li>¿Escuchas atentamente los problemas que te plantean tus amigos? </li>
            <li>¿Te ofrecerías para explicarle a tus compañeros un tema que ellos no entendieron? </li>
            <li>¿Eres exigente y crítico con tu equipo de trabajo? </li>
            <li>¿Te atrae armar rompecabezas? </li>
            <li>¿Sabes la diferencia conceptual entre macroeconomía y microeconomía? </li>
            <li>Usar uniforme, ¿Te hace sentir distinto, importante? </li>
            <li>¿Participarías como profesional en un espectáculo de acrobacia aérea? </li>
            <li>¿Organizas tu dinero de modo que te alcance para lo que debes hacer con él? </li>
            <li>¿Convences fácilmente a otras personas sobre la validez de tus argumentos? </li>
            <li>¿Estás informado sobre los últimos descubrimientos científicos? </li>
            <li>Ante una situación de emergencia, ¿Actúas rápidamente? </li>
            <li>Cuando tienes que resolver un problema matemático ¿Perseveras hasta encontrar la solución? </li>
            <li>Si te convocara tu club preferido para planificar, organizar y dirigir un campo deportivo
                ¿Aceptarías? </li>
            <li>¿Eres el que pone un toque de alegría en las fiestas? </li>
            <li>¿Crees que los detalles son tan importantes como el todo? </li>
            <li>¿Te sentirías a gusto trabajando en un ámbito hospitalario? </li>
            <li>¿Te gustaría participar para mantener el orden en grandes desordenes o catástrofes? </li>
            <li>¿Pasarías varias horas leyendo un libro de tu interés? </li>
            <li>¿Planificas detalladamente tus trabajos antes de empezar? </li>
            <li>¿Entablas una relación casi personal con tu computadora? </li>
            <li>¿Disfrutarías modelar arcilla? </li>
            <li>¿Ayudas a no videntes habitualmente a cruzar la calle? </li>
            <li>¿Consideras importante que desde la escuela primaria se fomente la actitud crítica y la
                participación activa? </li>
            <li>¿Te parece bien que las mujeres formen parte de las fuerzas armadas bajo las mismas condiciones que
                los hombres? </li>
            <li>¿Te gustaría crear nuevas técnicas para descubrir las enfermedades a través del microscopio? </li>
            <li>¿Participarías en una campaña de prevención de la enfermedad del Dengue? </li>
            <li>¿Te interesan los temas relacionados al pasado y el progreso de la humanidad? </li>
            <li>¿Te incluirías en un proyecto de investigación de los movimientos sísmicos y sus consecuencias?
            </li>
            <li>Fuera de los horarios escolares ¿dedicas algún tiempo a actividades corporales? </li>
            <li>¿Te interesan las actividades de mucha acción y de reacción rápida en situaciones imprevistas de
                peligro? </li>
            <li>¿Te ofrecerías para colaborar como voluntarios en los laboratorios especiales de la NASA? </li>
            <li>¿Te gusta más el trabajo manual que el trabajo intelectual? </li>
            <li>¿Estarías dispuesto a renunciar a un momento placentero por ofrecer tu servicio como profesional?
            </li>
            <li>¿Te ofrecerías para explicarle a tus compañeros un tema que ellos no entendieron? </li>
            <li>¿Eres exigente y crítico con tu equipo de trabajo? </li>
            <li>¿Te atrae armar rompecabezas? </li>
            <li>¿Sabes la diferencia conceptual entre macroeconomía y microeconomía? </li>
            <li>Usar uniforme, ¿Te hace sentir distinto, importante? </li>
            <li>¿Participarías como profesional en un espectáculo de acrobacia aérea? </li>
            <li>¿Organizas tu dinero de modo que te alcance para lo que debes hacer con él? </li>
            <li>¿Convences fácilmente a otras personas sobre la validez de tus argumentos? </li>
            <li>¿Aceptarías trabajar escribiendo artículos en la sección de economía de un diario? </li>
            <li>¿Te ofrecerías para organizar la despedida de soltero/s de uno de tus amigos? </li>
            <li>¿Te gustaría dirigir un proyecto de urbanización en tu lugar de residencia? </li>
            <li>¿A una frustración siempre opones un pensamiento positivo? </li>
            <li>¿Te dedicarías a socorrer a personas accidentadas o atacadas por asaltantes? </li>
            <li>Cuándo eras chico ¿te interesaba saber como estaban construidos tus juguetes? </li>
            <li>¿Te interesan más los misterios de la naturaleza que los secretos de la tecnología? </li>
            <li>¿Escuchas atentamente los problemas que te plantean tus amigos? </li>
            <li>¿Te ofrecerías para explicarle a tus compañeros un tema que ellos no entendieron? </li>
            <li>¿Eres exigente y crítico con tu equipo de trabajo? </li>
            <li>¿Te atrae armar rompecabezas? </li>
            <li>¿Sabes la diferencia conceptual entre macroeconomía y microeconomía? </li>
            <li>Usar uniforme, ¿Te hace sentir distinto, importante? </li>
            <li>¿Participarías como profesional en un espectáculo de acrobacia aérea? </li>
            <li>¿Organizas tu dinero de modo que te alcance para lo que debes hacer con él? </li>
            <li>¿Convences fácilmente a otras personas sobre la validez de tus argumentos? </li>
            <li>¿Aceptarías trabajar escribiendo artículos en la sección de economía de un diario? </li>
            <li>¿Te ofrecerías para organizar la despedida de soltero/s de uno de tus amigos? </li>
            <li>¿Te gustaría dirigir un proyecto de urbanización en tu lugar de residencia? </li>
            <li>¿A una frustración siempre opones un pensamiento positivo? </li>
            <li>¿Te dedicarías a socorrer a personas accidentadas o atacadas por asaltantes? </li>
            <li>Cuándo eras chico ¿te interesaba saber como estaban construidos tus juguetes? </li>
            <li>¿Te interesan más los misterios de la naturaleza que los secretos de la tecnología? </li>
            <li>¿Escuchas atentamente los problemas que te plantean tus amigos? </li>
            <li>¿Te ofrecerías para explicarle a tus compañeros un tema que ellos no entendieron? </li>
            <li>¿Eres exigente y crítico con tu equipo de trabajo? </li>
            <li>¿Te atrae armar rompecabezas? </li>
            <li>¿Sabes la diferencia conceptual entre macroeconomía y microeconomía? </li>
            <li>Usar uniforme, ¿Te hace sentir distinto, importante? </li>
            <li>¿Participarías como profesional en un espectáculo de acrobacia aérea? </li>
            <li>¿Organizas tu dinero de modo que te alcance para lo que debes hacer con él? </li>
            <li>¿Convences fácilmente a otras personas sobre la validez de tus argumentos? </li>
            <li>¿Aceptarías trabajar escribiendo artículos en la sección de economía de un diario? </li>
            <li>¿Te ofrecerías para organizar la despedida de soltero/s de uno de tus amigos? </li>
            <li>¿Te gustaría dirigir un proyecto de urbanización en tu lugar de residencia? </li>
            <li>¿A una frustración siempre opones un pensamiento positivo? </li>
            <li>¿Te dedicarías a socorrer a personas accidentadas o atacadas por asaltantes? </li>
            <li>Cuándo eras chico ¿te interesaba saber como estaban construidos tus juguetes? </li>
            <li>¿Te interesan más los misterios de la naturaleza que los secretos de la tecnología? </li>
            <li>¿Escuchas atentamente los problemas que te plantean tus amigos? </li>
            <li>¿Te ofrecerías para explicarle a tus compañeros un tema que ellos no entendieron? </li>
            <li>¿Eres exigente y crítico con tu equipo de trabajo? </li>
            <li>¿Te atrae armar rompecabezas? </li>
            <li>¿Sabes la diferencia conceptual entre macroeconomía y microeconomía? </li>
            <li>Usar uniforme, ¿Te hace sentir distinto, importante? </li>
            <li>¿Participarías como profesional en un espectáculo de acrobacia aérea? </li>
            <li>¿Organizas tu dinero de modo que te alcance para lo que debes hacer con él? </li>
            <li>¿Convences fácilmente a otras personas sobre la validez de tus argumentos? </li>
            <li>¿Organizas tu dinero de modo que te alcance para lo que debes hacer con él? </li>
            <li>¿Convences fácilmente a otras personas sobre la validez de tus argumentos? </li>
        </ol>

        <hr>
        <table>

            <tr>
                <td style="font-weight: bolder;">C</td>
                <td style="font-weight: bolder;">H</td>
                <td style="font-weight: bolder;">A</td>
                <td style="font-weight: bolder;">S</td>
                <td style="font-weight: bolder;">I</td>
                <td style="font-weight: bolder;">D</td>
                <td style="font-weight: bolder;">E</td>
            </tr>
            <tr>
                <td><label class="container">98<input type="checkbox" id="98"><span class="checkmark"></span></label>
                </td>
                <td><label class="container">9<input type="checkbox" id="9"><span class="checkmark"></span></label></td>
                <td><label class="container">21<input type="checkbox" id="21"><span class="checkmark"></span></label>
                </td>
                <td><label class="container">33<input type="checkbox" id="33"><span class="checkmark"></span></label>
                </td>
                <td><label class="container">75<input type="checkbox" id="75"><span class="checkmark"></span></label>
                </td>
                <td><label class="container">84<input type="checkbox" id="84"><span class="checkmark"></span></label>
                </td>
                <td><label class="container">77<input type="checkbox" id="77"><span class="checkmark"></span></label>
                </td>
            </tr>
            <tr>
                <td><label class="container">12<input type="checkbox" id="12"><span class="checkmark"></span></label>
                </td>
                <td><label class="container">34<input type="checkbox" id="34"><span class="checkmark"></span></label>
                </td>
                <td><label class="container">45<input type="checkbox" id="45"><span class="checkmark"></span></label>
                </td>
                <td><label class="container">92<input type="checkbox" id="92"><span class="checkmark"></span></label>
                </td>
                <td><label class="container">6<input type="checkbox" id="6"><span class="checkmark"></span></label></td>
                <td><label class="container">31<input type="checkbox" id="31"><span class="checkmark"></span></label>
                </td>
                <td><label class="container">42<input type="checkbox" id="42"><span class="checkmark"></span></label>
                </td>
            </tr>
            <tr>
                <td><label class="container">64<input type="checkbox" id="64"><span class="checkmark"></span></label>
                </td>
                <td><label class="container">80<input type="checkbox" id="80"><span class="checkmark"></span></label>
                </td>
                <td><label class="container">96<input type="checkbox" id="96"><span class="checkmark"></span></label>
                </td>
                <td><label class="container">70<input type="checkbox" id="70"><span class="checkmark"></span></label>
                </td>
                <td><label class="container">19<input type="checkbox" id="19"><span class="checkmark"></span></label>
                </td>
                <td><label class="container">48<input type="checkbox" id="48"><span class="checkmark"></span></label>
                </td>
                <td><label class="container">88<input type="checkbox" id="88"><span class="checkmark"></span></label>
                </td>
            </tr>
            <tr>
                <td><label class="container">53<input type="checkbox" id="53"><span class="checkmark"></span></label>
                </td>
                <td><label class="container">25<input type="checkbox" id="25"><span class="checkmark"></span></label>
                </td>
                <td><label class="container">57<input type="checkbox" id="57"><span class="checkmark"></span></label>
                </td>
                <td><label class="container">8<input type="checkbox" id="8"><span class="checkmark"></span></label></td>
                <td><label class="container">38<input type="checkbox" id="38"><span class="checkmark"></span></label>
                </td>
                <td><label class="container">73<input type="checkbox" id="73"><span class="checkmark"></span></label>
                </td>
                <td><label class="container">17<input type="checkbox" id="17"><span class="checkmark"></span></label>
                </td>
            </tr>
            <tr>
                <td><label class="container">85<input type="checkbox" id="85"><span class="checkmark"></span></label>
                </td>
                <td><label class="container">95<input type="checkbox" id="95"><span class="checkmark"></span></label>
                </td>
                <td><label class="container">28<input type="checkbox" id="28"><span class="checkmark"></span></label>
                </td>
                <td><label class="container">87<input type="checkbox" id="87"><span class="checkmark"></span></label>
                </td>
                <td><label class="container">60<input type="checkbox" id="60"><span class="checkmark"></span></label>
                </td>
                <td><label class="container">5<input type="checkbox" id="5"><span class="checkmark"></span></label></td>
                <td><label class="container">93<input type="checkbox" id="93"><span class="checkmark"></span></label>
                </td>
            </tr>

            <tr>
                <td><label class="container">1<input type="checkbox" id="1"><span class="checkmark"></span></label></td>
                <td><label class="container">67<input type="checkbox" id="67"><span class="checkmark"></span></label>
                </td>
                <td><label class="container">11<input type="checkbox" id="11"><span class="checkmark"></span></label>
                </td>
                <td><label class="container">62<input type="checkbox" id="62"><span class="checkmark"></span></label>
                </td>
                <td><label class="container">27<input type="checkbox" id="27"><span class="checkmark"></span></label>
                </td>
                <td><label class="container">65<input type="checkbox" id="65"><span class="checkmark"></span></label>
                </td>
                <td><label class="container">32<input type="checkbox" id="32"><span class="checkmark"></span></label>
                </td>
                <td style="font-weight: bolder;">C</td>
                <td style="font-weight: bolder;">H</td>
                <td style="font-weight: bolder;">A</td>
                <td style="font-weight: bolder;">S</td>
                <td style="font-weight: bolder;">I</td>
                <td style="font-weight: bolder;">D</td>
                <td style="font-weight: bolder;">E</td>
            </tr>
            <tr>
                <td><label class="container">78<input type="checkbox" id="78"><span class="checkmark"></span></label>
                </td>
                <td><label class="container">41<input type="checkbox" id="41"><span class="checkmark"></span></label>
                </td>
                <td><label class="container">50<input type="checkbox" id="50"><span class="checkmark"></span></label>
                </td>
                <td><label class="container">23<input type="checkbox" id="23"><span class="checkmark"></span></label>
                </td>
                <td><label class="container">83<input type="checkbox" id="83"><span class="checkmark"></span></label>
                </td>
                <td><label class="container">14<input type="checkbox" id="14"><span class="checkmark"></span></label>
                </td>
                <td><label class="container">68<input type="checkbox" id="68"><span class="checkmark"></span></label>
                </td>
                <td><label class="container">15<input type="checkbox" id="15"><span class="checkmark"></span></label>
                </td>
                <td><label class="container">63<input type="checkbox" id="63"><span class="checkmark"></span></label>
                </td>
                <td><label class="container">22<input type="checkbox" id="22"><span class="checkmark"></span></label>
                </td>
                <td><label class="container">69<input type="checkbox" id="69"><span class="checkmark"></span></label>
                </td>
                <td><label class="container">26<input type="checkbox" id="26"><span class="checkmark"></span></label>
                </td>
                <td><label class="container">13<input type="checkbox" id="13"><span class="checkmark"></span></label>
                </td>
                <td><label class="container">94<input type="checkbox" id="94"><span class="checkmark"></span></label>
                </td>
            </tr>
            <tr>
                <td><label class="container">20<input type="checkbox" id="20"><span class="checkmark"></span></label>
                </td>
                <td><label class="container">74<input type="checkbox" id="74"><span class="checkmark"></span></label>
                </td>
                <td><label class="container">3<input type="checkbox" id="3"><span class="checkmark"></span></label></td>
                <td><label class="container">44<input type="checkbox" id="44"><span class="checkmark"></span></label>
                </td>
                <td><label class="container">54<input type="checkbox" id="54"><span class="checkmark"></span></label>
                </td>
                <td><label class="container">37<input type="checkbox" id="37"><span class="checkmark"></span></label>
                </td>
                <td><label class="container">49<input type="checkbox" id="49"><span class="checkmark"></span></label>
                </td>
                <td><label class="container">51<input type="checkbox" id="51"><span class="checkmark"></span></label>
                </td>
                <td><label class="container">30<input type="checkbox" id="30"><span class="checkmark"></span></label>
                </td>
                <td><label class="container">39<input type="checkbox" id="39"><span class="checkmark"></span></label>
                </td>
                <td><label class="container">40<input type="checkbox" id="40"><span class="checkmark"></span></label>
                </td>
                <td><label class="container">59<input type="checkbox" id="59"><span class="checkmark"></span></label>
                </td>
                <td><label class="container">66<input type="checkbox" id="66"><span class="checkmark"></span></label>
                </td>
                <td><label class="container">7<input type="checkbox" id="7"><span class="checkmark"></span></label></td>
            </tr>
            <tr>
                <td><label class="container">71<input type="checkbox" id="71"><span class="checkmark"></span></label>
                </td>
                <td><label class="container">56<input type="checkbox" id="56"><span class="checkmark"></span></label>
                </td>
                <td><label class="container">81<input type="checkbox" id="81"><span class="checkmark"></span></label>
                </td>
                <td><label class="container">16<input type="checkbox" id="16"><span class="checkmark"></span></label>
                </td>
                <td><label class="container">47<input type="checkbox" id="47"><span class="checkmark"></span></label>
                </td>
                <td><label class="container">58<input type="checkbox" id="58"><span class="checkmark"></span></label>
                </td>
                <td><label class="container">35<input type="checkbox" id="35"><span class="checkmark"></span></label>
                </td>
                <td><label class="container">2<input type="checkbox" id="2"><span class="checkmark"></span></label></td>
                <td><label class="container">72<input type="checkbox" id="72"><span class="checkmark"></span></label>
                </td>
                <td><label class="container">76<input type="checkbox" id="76"><span class="checkmark"></span></label>
                </td>
                <td><label class="container">29<input type="checkbox" id="29"><span class="checkmark"></span></label>
                </td>
                <td><label class="container">90<input type="checkbox" id="90"><span class="checkmark"></span></label>
                </td>
                <td><label class="container">18<input type="checkbox" id="18"><span class="checkmark"></span></label>
                </td>
                <td><label class="container">79<input type="checkbox" id="79"><span class="checkmark"></span></label>
                </td>
            </tr>
            <tr>
                <td><label class="container">91<input type="checkbox" id="91"><span class="checkmark"></span></label>
                </td>
                <td><label class="container">89<input type="checkbox" id="89"><span class="checkmark"></span></label>
                </td>
                <td><label class="container">36<input type="checkbox" id="36"><span class="checkmark"></span></label>
                </td>
                <td><label class="container">52<input type="checkbox" id="52"><span class="checkmark"></span></label>
                </td>
                <td><label class="container">97<input type="checkbox" id="97"><span class="checkmark"></span></label>
                </td>
                <td><label class="container">24<input type="checkbox" id="24"><span class="checkmark"></span></label>
                </td>
                <td><label class="container">61<input type="checkbox" id="61"><span class="checkmark"></span></label>
                </td>
                <td><label class="container">46<input type="checkbox" id="46"><span class="checkmark"></span></label>
                </td>
                <td><label class="container">86<input type="checkbox" id="86"><span class="checkmark"></span></label>
                </td>
                <td><label class="container">82<input type="checkbox" id="82"><span class="checkmark"></span></label>
                </td>
                <td><label class="container">4<input type="checkbox" id="4"><span class="checkmark"></span></label></td>
                <td><label class="container">10<input type="checkbox" id="10"><span class="checkmark"></span></label>
                </td>
                <td><label class="container">43<input type="checkbox" id="43"><span class="checkmark"></span></label>
                </td>
                <td><label class="container">55<input type="checkbox" id="55"><span class="checkmark"></span></label>
                </td>
            </tr>

        </table>
        <input type="button" onclick="resultado()" value="Ver resultados">
    </span>
</p>