<app-section title="Test de Asertividad">
    <p>Hola</p>
    <div class="flex flex-row-reverse">
        <p>Hola</p>
    </div>
</app-section>

<app-section title="Test de Inteligencia Emocional">
    <p>Hola</p>
    <div class="flex flex-row-reverse">
        <p>Hola</p>
    </div>
</app-section>

<app-section title="Test de Autoestima de Rosenberg">
    <p>Hola</p>
    <div class="flex flex-row-reverse">
        <p>Hola</p>
    </div>
</app-section>

<app-section title="Test Vocacional">
    <p>Hola</p>
    <div class="flex flex-row-reverse">
        <p>Hola</p>
    </div>
</app-section>

<app-section title="Test Chaside">
    <p>Hola</p>
    <div class="flex flex-row-reverse">
        <p>Hola</p>
    </div>
</app-section>

<app-section title="Test Inventario de la Motivacion Personal">
    <p>Hola</p>
    <div class="flex flex-row-reverse">
        <p>Hola</p>
    </div>
</app-section>