<app-section title="Test de Inteligencia Emocional">
    <p>
        Realiza el test de Inteligencia Emocional se refiere a la capacidad humana de sentir, entender, controlar y
        modificar estados emocionales en uno mismo y en los
        demás. Inteligencia Emocional no significa ahogar las emociones, sino dirigirlas y equilibrarlas hacia estados
        positivos.
    </p>
    <div class="flex flex-row-reverse">
        <a routerLink="/instrucciones/inteligencia">Realizar Test</a>
    </div>
</app-section>

<app-section title="Test de Asertividad">
    <p>
        Ser asertivo es una habilidad de comunicación fundamental. La asertividad te permite expresarte de forma eficaz
        y
        defender tu punto de vista. También puede ayudarte a hacer esto a la vez que respetas los derechos y creencias
        de los
        demás.
    </p>
    <div class="flex flex-row-reverse">
        <a routerLink="/instrucciones/asertividad">Realizar Test</a>
    </div>
</app-section>

<app-section title="Test de Autoestima de Rosenberg">
    <p>Realiza el test de Autoestima de Rosenberg. La escala de autoestima de Rosenberg, es una prueba con buenas
        propiedades psicométricas, y es el test más usado para la
        evaluación de la autoestima en la práctica clínica y en la investigación científica.
    </p>
    <div class="flex flex-row-reverse">
        <a routerLink="/instrucciones/autoestima">Realizar Test</a>
    </div>
</app-section>

<app-section title="Test Chaside">
    <p>Un test de orientación vocacional puede ser una herramienta útil, aunque no definitiva, para contar con una
        primera
        aproximación a la búsqueda vocacional. En base a tus respuestas, podrás tener una orientación, considerando
        intereses y
        aptitudes. Podés responderlo siguiendo las instrucciones indicadas.
    </p>
    <div class="flex flex-row-reverse">
        <a routerLink="/instrucciones/chaside">Realizar Test</a>
    </div>
</app-section>

<app-section title="Test Inventario de la Motivacion Personal">
    <p>Encuesta para medir motivación, según McClelland. Mide tres tipos de motivación personal con relación a nuestra
        participación en un grupo: Motivación a logro o realización personal; motivación a afiliación, motivación al
        poder.</p>
    <div class="flex flex-row-reverse">
        <a routerLink="/instrucciones/inventario">Realizar Test</a>
    </div>
</app-section>