/* You can add global styles to this file, and also import other style files */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.flex {
    display: flex;
}

.flex-row {
    flex-direction: row;
}

.flex-row-reverse {
    flex-direction: row-reverse;
}

.flex-column {
    flex-direction: column;
}

.flex-justify-center {
    justify-content: center;
}

.flex-center {
    align-items: center;
    justify-content: space-between;
}

.flex-gap-1 {
    gap: 1em;
}

.two-column-section {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.three-column-section {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}