<div class="flex flex-column flex-justify-center">
    <table border="1px">
        <caption>
            <h1>
                Test de asertividad
            </h1>
        </caption>
        <tr>
            <th>Pregunta</th>
            <th>Si</th>
            <th style="white-space:pre-wrap">Algunas veces</th>
            <th>No</th>
        </tr>
        <tr>
            <td>Me siento comodo si tengo que hablar en publico</td>
            <td><input name="F1" type="radio" value="3"></td>
            <td><input name="F1" type="radio" value="2" required></td>
            <td><input name="F1" type="radio" value="1"></td>
        </tr>
        <tr>
            <td>Puedo expresar mis pensamientos a otras personas cuando estoy enojado</td>
            <td><input name="F2" type="radio" value="3"></td>
            <td><input name="F2" type="radio" value="2" required></td>
            <td><input name="F2" type="radio" value="1"></td>
        </tr>
        <tr>
            <td>Si siento que estoy en lo cierto, lo digo, aunque no les guste a los demás</td>
            <td><input name="F3" type="radio" value="3"></td>
            <td><input name="F3" type="radio" value="2" required></td>
            <td><input name="F3" type="radio" value="1"></td>
        </tr>
        <tr>
            <td>Si alguien cercano a mí (amigo, familiar, etc) hace algo que no me gusta, se lo manifiesto</td>
            <td><input name="F4" type="radio" value="3"></td>
            <td><input name="F4" type="radio" value="2" required></td>
            <td><input name="F4" type="radio" value="1"></td>
        </tr>
        <tr>
            <td>Me resulta fácil iniciar una comunicación con un extraño</td>
            <td><input name="F5" type="radio" value="3"></td>
            <td><input name="F5" type="radio" value="2" required></td>
            <td><input name="F5" type="radio" value="1"></td>
        </tr>
        <tr>
            <td>Si me invitan a una reunión a la cual no tengo ganas de ir, la rechazo con facilidad</td>
            <td><input name="F6" type="radio" value="3"></td>
            <td><input name="F6" type="radio" value="2" required></td>
            <td><input name="F6" type="radio" value="1"></td>
        </tr>
        <tr>
            <td>Si la atención o la comida no me resultan buenas, se lo manifiesto al mozo</td>
            <td><input name="F7" type="radio" value="3"></td>
            <td><input name="F7" type="radio" value="2" required></td>
            <td><input name="F7" type="radio" value="1"></td>
        </tr>
        <tr>
            <td>Me resulta fácil solicitar ayuda a alguien que no forma parte de mi círculo más cercano</td>
            <td><input name="F8" type="radio" value="3"></td>
            <td><input name="F8" type="radio" value="2" required></td>
            <td><input name="F8" type="radio" value="1"></td>
        </tr>
        <tr>
            <td>Puedo cambiar abiertamente de opinión sobre algo de lo que antes había afirmado públicamente que no era
                así</td>
            <td><input name="F9" type="radio" value="3"></td>
            <td><input name="F9" type="radio" value="2" required></td>
            <td><input name="F9" type="radio" value="1"></td>
        </tr>
        <tr>
            <td>Reconozco con facilidad y en forma pública cuando he cometido un error</td>
            <td><input name="F10" type="radio" value="3"></td>
            <td><input name="F10" type="radio" value="2" required></td>
            <td><input name="F10" type="radio" value="1"></td>
        </tr>
        <tr>
            <td>Cuando alguien realiza una tarea o trabajo que apruebo o admiro, se lo expreso con facilidad</td>
            <td><input name="F11" type="radio" value="3"></td>
            <td><input name="F11" type="radio" value="2" required></td>
            <td><input name="F11" type="radio" value="1"></td>
        </tr>
        <tr>
            <td>Si alguien se adelanta a mi turno en una cola de espera, me quejo </td>
            <td><input name="F12" type="radio" value="3" required></td>
            <td><input name="F12" type="radio" value="2"></td>
            <td><input name="F12" type="radio" value="1"></td>
        </tr>
        <tr>
            <td>Si observo que alguien que se encuentra por encima de mi nivel en el ámbito laboral está cometiendo un
                error, se lo hago notar.</td>
            <td><input name="F13" type="radio" value="3"></td>
            <td><input name="F13" type="radio" value="2" required></td>
            <td><input name="F13" type="radio" value="1"></td>
        </tr>
        <tr>
            <td>Si alguien con su vehículo está obstruyendo la salida de mi garaje, aunque no lo vaya yo a usar
                inmediatamente, me quejo</td>
            <td><input name="F14" type="radio" value="3"></td>
            <td><input name="F14" type="radio" value="2" required></td>
            <td><input name="F14" type="radio" value="1"></td>
        </tr>
        <tr>
            <td>Si conozco que tengo una debilidad en mi carácter, o forma de ser, o un defecto físico, puedo hacerlo
                público con facilidad</td>
            <td><input name="F15" type="radio" value="3"></td>
            <td><input name="F15" type="radio" value="2" required></td>
            <td><input name="F15" type="radio" value="1"></td>
        </tr>
    </table>
</div>
<br>
<div class="flex flex-row flex-justify-center">
    <button class="btn btn-primary">Enviar respuesta</button>
</div>